@import "~bootstrap/scss/bootstrap";

.col {
    background-color: gray;
    border: 2px solid white;
}
.col-6 {
    background-color: gray;
    border: 2px solid white;
}
.col-9 {
    background-color: gray;
    border: 2px solid white;
}
.col-3 {
    background-color: gray;
    border: 2px solid white;
}
.col-4 {
    background-color: gray;
    border: 2px solid white;
}
.col-12 {
    background-color: gray;
    border: 2px solid white;
}