.img-h3 h3 {
    position: relative;
    bottom: 50px;
    left: 100px;
    
}

.gap {
    margin-bottom: 70px;
}

.list-group {
    gap: 1em;
}

#shoe {
    width: 400px;
    
}

footer {
    background-image: url(../img/index/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
