// body {
//     background-color: #96999c;
// }

.hero-img {
    background-image: url(/class05/img/upgraded-points-KVym2PAn1gA-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.3);
}